.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: black;
}

/*------------------------------------------------------------- Listing Page*/
h3.listing-title {
    font-size: xx-large;
}

.listing-reading-time {
    font-size: small;
    color: var(--bs-gray);
}

.thumbnail-image {
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
