/* Post listing cards */
.quarto-post {
  border: 2px solid lightgray !important;
  border-radius: 10px !important;
  padding: 20px !important;
  margin-bottom: 1rem !important;
}

.quarto-post:hover {
  border-color: #aaa !important;
}

/* Post listing card images */
.quarto-post .thumbnail img {
  border-radius: 6px !important;
}

/* Remove default bottom border/separator */
.quarto-post.post {
  border-bottom: none !important;
}
